@implements IDisposable
@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Lexicon LMS</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <AuthorizeView>
            <Authorized Context="authState">
                @if (authState.User.IsInRole("Student"))
                {
                    @foreach (var item in StudentMenuItems)
                    {
                        <NavMenuItem Icon="@item.Icon"
                                     Text="@item.Text"
                                     Href="@item.Href"
                                     Match="@item.Match" />
                    }
                }
                else if (authState.User.IsInRole("Teacher"))
                {
                    @foreach (var item in TeacherMenuItems)
                    {
                        <NavMenuItem Icon="@item.Icon"
                                     Text="@item.Text"
                                     Href="@item.Href"
                                     Match="@item.Match" />
                    }
                }

                @* TODO: Manage account move to topbar. *@

                @* <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Manage">
                        <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> @authState.User.Identity?.Name
                    </NavLink>
                </div> *@

                <div class="nav-item">
                    <form action="Account/Logout" method="post" class="logout-form">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <button type="submit" class="menu-link logout-button">
                            <span class="bi bi-arrow-bar-left menu-icon" aria-hidden="true"></span>
                            <span>Logout</span>
                        </button>
                    </form>
                </div>
            </Authorized>

            <NotAuthorized>
                <NavMenuItem Icon="bi bi-person-badge-nav-menu"
                             Text="Login"
                             Href="Account/Login" />
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private string? currentUrl;

    private List<NavMenuItemModel> StudentMenuItems => new()
    {
        new("bi bi-house", "Dashboard", "", NavLinkMatch.All),
        new("bi bi-book", "My Course", "weather"),
        new("bi bi-file-earmark-text", "Assignments", "counter"),
        new("bi bi-people", "Classmates", "auth")
    };

    private List<NavMenuItemModel> TeacherMenuItems => new()
    {
        new("bi bi-house", "Dashboard", "", NavLinkMatch.All),
        new("bi bi-book", "Courses", "weather"),
        new("bi bi-plus-circle", "Create new course", "counter"),
        new("bi bi-people", "Users", "auth"),
        new("bi bi-list-task", "Assignments", "demoauth")
    };

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

