@namespace LMS.Blazor.Client.Components.CourseOverview

<div class="list-group-item list-group-item">
    <div class="d-flex justify-content-between align-items-start @GetHeaderSpacingClass()"
         role="button"
         @onclick="ToggleExpandModule">
        <div>
            <h3 class="h4 mb-2">
                @if (Module.ProgressPercent == 100)
                {
                    <i class="bi bi-check2-circle h4 pe-2 text-success"></i>
                }
                else
                {
                    <i class="bi bi-book h4 pe-2 text-primary"></i>
                }
                @Module.Title
            </h3>
            <p class="text-muted mb-0">
                <i class="bi bi-calendar"></i>
                @Module.DateRange
            </p>
        </div>
        <div class="text-end" style="min-width: 180px;">
            <p class="fw-semibold mb-2">@Module.ProgressPercent% avklarat</p>
            <div class="progress" role="progressbar"
                 aria-label="@($"{Module.Title} framsteg")"
                 aria-valuenow="@Module.ProgressPercent"
                 aria-valuemin="0"
                 aria-valuemax="100">
                <div class="progress-bar" style="width: @(Module.ProgressPercent)%;"></div>
            </div>
        </div>
    </div>

    @if (Module.IsExpanded)
    {
        <p class="text-muted mb-3">@Module.Description</p>
        <h4 class="h5 mb-3">Aktiviteter</h4>

        <div class="list-group list-group-flush border rounded">
            @foreach (var activity in Module.Activities)
            {
                <ActivityItem Activity="activity" />
            }
            @if (!Module.Activities.Any())
            {
                <div class="list-group-item py-3">
                    <p>Inga aktiviteter tillagda än</p>
                </div>
            }
        </div>
    }
</div>

@code {
    [Parameter, EditorRequired]
    public ModuleViewModel Module { get; set; } = new();

    private string GetHeaderSpacingClass() => Module.IsExpanded ? "mb-3" : "mb-0";

    private void ToggleExpandModule()
    {
        Module.IsExpanded = !Module.IsExpanded;
    }
}
